<div class="container">
    <div class="class__wrapper" *ngIf="studentDetail">
        <div class="class__wrapper__left">
            <img src="{{ avatar }}" alt="Avatar" />
            <ul>
                <li>Update a student</li>
                <li>Update Student Name</li>
                <li>Update Student Class</li>
                <li>Update Student Age</li>
                <li>Update Student Course(s)</li>
            </ul>
        </div>
        <div class="class__wrapper__right">
            <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="studentname">Student Name</label>
                    <input type="text" formControlName="studentName" id="studentname" placeholder="Student Name"
                        class="mb-3" />

                    <label for="studentage">Student Age</label>
                    <input type="number" formControlName="studentAge" id="studentage" placeholder="Student Age"
                        class="mb-3" />

                    <label for="assigncourses">Assign Courses to this Student</label>
                    <input type="text" formControlName="studentCourse" id="assigncourses" placeholder="Assign Courses"
                        class="mb-3" />

                    <div class="student__wrapper">
                        <label for="studentclass">Select Class of Student</label>
                        <br />
                        <select formControlName="studentClass">
                            <option *ngFor="let classOption of classOptions" [value]="classOption">{{ classOption }}
                            </option>
                        </select>
                    </div>


                    <button type="submit" color="dark" style="margin-top: 1rem;">
                        Update Student Records
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>