/* update-student.component.css */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

* {
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    background: #f0f6fa;
    /* Light blue */
}

.container {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

.class__wrapper {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.class__wrapper img {
    width: 100px;
}

.class__wrapper .class__wrapper__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.class__wrapper form {
    margin-top: 20px;
}

.class__wrapper form .form-group {
    display: flex;
    flex-direction: column;
}

.class__wrapper form input {
    padding: 10px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}

.class__wrapper button {
    padding: 10px 5px;
    cursor: pointer;
    background-color: #000;
    border: unset;
    color: #fff;
}

/* Hover effect */
.class__wrapper button:hover {
    background-color: #444;
}

.student__wrapper {
    margin-top: 10px;
}

.student__wrapper table {
    margin-top: 60px;
}

.student__wrapper select {
    width: 100%;
}

.students__cover {
    background-color: #fff;
}