<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class="text-white text-center"> Terms & Conditions </h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quam dolor minus ratione! Delectus
                cum ipsum similique alias reprehenderit magnam earum laboriosam esse libero error, dolore itaque nihil
                doloribus nulla.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque expedita iure commodi nam, incidunt iste
                architecto optio dicta doloribus aperiam repudiandae debitis tempora quibusdam nobis cupiditate earum
                inventore ducimus! Unde.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>