<!-- <div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card p-5 shadow-effect bg-secondary-theme">
                <div class="card-body">
                    <div class="text-center">
                        <h3 class="text-theme-primary"> Login </h3>
                        <p> Please Login to your Admin account to post new Blog posts </p>
                    </div>

                    <form #loginForm=ngForm (ngSubmit)="onSubmit(loginForm.value)">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email" #Email='ngModel'
                                ngModel required email [ngClass]="{'is-invalid': Email.touched && Email.invalid}">

                            <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
                                <div *ngIf="Email.errors?.['required']">Email is required</div>
                                <div *ngIf="Email.errors?.['email']">Invalid email format</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password"
                                #Password='ngModel' ngModel required
                                [ngClass]="{'is-invalid': Password.touched && Password.invalid}">

                            <div class="alert alert-danger" *ngIf="Password.touched && Password.invalid"> Password
                                Cannot
                                be Empty</div>
                        </div>

                        <button class="btn btn-info btn-block btn-theme" [disabled]='loginForm.invalid'> login </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div> -->

<!-- <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal"> Please Sign In</h1>

    <input formControlName="email" type="email" class="form-control" placeholder="Email" required>

    <input formControlName="password" type="password" class="form-control" placeholder="Password" required>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

</form> -->


<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card p-4 border shadow-effect">
                <form [formGroup]="form" (submit)="submit()">
                    <h4 class="mb-4">Sign-In</h4>

                    <div class="mb-2">
                        <label for="email" class="fw-bold">Email</label>
                        <input formControlName="email" type="email" class="form-control" placeholder="Enter your email"
                            required />
                        <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
                            class="invalid-feedback d-block">
                            <div *ngIf="form.get('email')?.errors?.['required']">Email is required</div>
                            <div *ngIf="form.get('email')?.errors?.['email']">Invalid email format</div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="password" class="fw-bold">Password</label>
                        <input formControlName="password" type="password" class="form-control"
                            placeholder="Minimum 6 characters required" required />
                        <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
                            class="invalid-feedback d-block">
                            Password Cannot be Empty
                        </div>
                    </div>

                    <button type="submit" class="btn btn-light btn-block btn-primary btn-theme"
                        [disabled]="form.invalid">
                        Sign-In
                    </button>
                </form>

                <div class="mt-3">
                    <small>By continuing, you agree to Our</small>
                </div>

                <div class="mt-1">
                    <small><a routerLink="/about" class="text-decoration-none">Conditions of use</a> and <a
                            routerLink="/contact" class="text-decoration-none">Privacy policy</a></small>
                </div>
            </div>

            <div class="mt-4 text-center">
                <hr>
                <small class="text-muted">New to this app?</small>
                <a routerLink="/register" class="btn btn-light btn-block btn-theme mt-2">Register</a>
            </div>
        </div>
    </div>
</div>