<div class="container app-body">
    <div class="row">
        <div class="col-md-12 bg-seconday-theme p-5 shadow-effect">
            <h3 class="text-center text-theme-primary">{{ selectedClass ? 'EDIT CLASS NAME' : 'CREATE NEW CLASSES' }}
            </h3>
            <p class="text-center mb-5">You can add and manage new classes from Here</p>

            <form [formGroup]="classForm" class="row text-center" (ngSubmit)="onSubmit()">
                <div class="form-group col-md-10">
                    <input formControlName="className" type="text" class="form-control shadow-effect"
                        placeholder="Add New Class" [value]="selectedClass ? selectedClass.className : ''" />
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-info mb-2 btn-theme">
                        {{ selectedClass ? 'Update Class' : 'Add Class' }}
                    </button>
                </div>

            </form>


        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>Created</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let classInfo of createdClasses; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>
                                    <a [routerLink]="['/view-class', classInfo.id]">{{ classInfo.className }}</a>
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-sm" (click)="editClass(classInfo)">Edit</button>
                                    <button class="btn btn-danger btn-sm ms-2"
                                        (click)="deleteClass(classInfo.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>