/* update-course.component.css */
@import '../../../shared-styles.css';

.class__wrapper {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.class__wrapper img {
    width: 100px;
}

.class__wrapper .class__wrapper__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.class__wrapper form {
    margin-top: 20px;
}

.class__wrapper form .form-group {
    display: flex;
    flex-direction: column;
}

.class__wrapper form input {
    padding: 10px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}

.class__wrapper button {
    padding: 10px 5px;
    cursor: pointer;
    background-color: #000;
    border: unset;
    color: #fff;
    transition: background-color 0.3s;
}

.classes__wrapper {
    background: #fff;
    padding: 10px;
}

.classes__wrapper li {
    margin-bottom: 12px;
}

.classes__wrapper a {
    color: #000;
    text-decoration: none;
}

/* Hover effect */
.class__wrapper button:hover {
    background-color: #444;
}

.err-msgs {
    color: red;
    margin-top: 10px;
}

/* Additional styles for the input tags */
.tagify-container {
    display: inline-block;
    min-width: 300px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

.tagify-input {
    width: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 14px;
}

.tagify__tag {
    display: inline-block;
    background-color: #3072a9;
    color: #fff;
    border-radius: 3px;
    padding: 3px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .class__wrapper {
        grid-template-columns: 100%;
    }
}