<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Leave a comment</h4>
        <p>You can leave a comment using this comment form</p>

        <form>
            <div class="form-group">
                <label for="">Name :</label>
                <br>
                <input type="text" class="form-control shadow-effect" placeholder="Enter your name here">
            </div>

            <div class="form-group">
                <label for="">Comment :</label>
                <br>
                <textarea cols="30" rows="10" class="form-control shadow-effect"
                    placeholder="Add Your Comment Here ..."></textarea>
            </div>

            <button class="btn btn-info btn-theme">Add Comment</button>

        </form>
    </div>
</div>