<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white"> Featured Posts</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora odio debitis
                    ratione sapiente ipsam minima, sunt dolor possimus. Modi quis dolor minima repellendus impedit
                    libero fugiat reiciendis autem! Dolorum, nesciunt.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, sint! Optio tempore nihil consequuntur, ullam
            modi libero blanditiis eos non? Quos nobis quas, sed nesciunt quis nam repellendus a aut?</p>
    </div>

    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>