@import '../../../shared-styles.css';

.student__wrapper {
    margin-top: 10px;
}

.student__wrapper table {
    margin-top: 60px;
}

.student__wrapper select {
    width: 100%;
}

.students__cover {
    background-color: #f0f6fa;
}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 20px;
    font-size: 15px;
}

td {
    text-align: left;
    padding: 20px;
    font-size: 14px;
}