<mat-toolbar>
    <div class="container">
        <div>
            <a href="#" class="site-logo"> e-GA </a>
        </div>

        <div class="links">
            <ng-container *ngIf="isHomeDirectory">
                <button mat-icon-button class="btn btn-primary btn-cta rounded-circle">Get Started</button>
            </ng-container>

            <ng-container *ngIf="!isHomeDirectory">
                <button mat-icon-button routerLink="/landing">Get Started</button>


                <button mat-icon-button [matMenuTriggerFor]="manageMenu">
                    Manage
                </button>
                <mat-menu #manageMenu="matMenu" class="hoverable-dropdown">
                    <button mat-menu-item routerLink="/students">Students</button>
                    <button mat-menu-item routerLink="/courses">Courses</button>
                    <button mat-menu-item routerLink="/classes">Classes</button>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="createMenu">
                    Create
                </button>
                <mat-menu #createMenu="matMenu" class="hoverable-dropdown">
                    <button mat-menu-item routerLink="/create-student">Create Student</button>
                    <button mat-menu-item routerLink="/create-course">Create Course</button>
                    <button mat-menu-item routerLink="/create-class">Create Class</button>
                </mat-menu>
            </ng-container>
        </div>
        <div class="user">
            <app-user-dropdown></app-user-dropdown>
        </div>
    </div>
</mat-toolbar>