<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/16942021/pexels-photo-16942021/free-photo-of-wood-wall-garden-house.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
                    alt="">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-succes text-center ml-2">Featured</small>
                    <small class="bg-light text-info text-center ml-2">Views - 100,456</small>
                    <small class="bg-light text-warning text-center ml-2">Last Update - June 20 2023</small>

                    <h1 class="mt-3 mb-3"> HOW TO START A BLOG IN 2023 EDIED NEW CATEGORY</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum suscipit provident repellat hic
                        pariatur dignissimos nulla mollitia, deleniti sunt. Enim tempora, ducimus temporibus repudiandae
                        veritatis assumenda alias similique sequi sunt.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum error molestias numquam ea!
                        Eligendi corporis assumenda necessitatibus alias blanditiis nobis repellat ex autem id quasi.
                        Veritatis vel earum animi rerum?
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>

        </div>
    </div>
</div>