@import '../../../shared-styles.css';

.student__wrapper {
    margin-top: 10px;
}

.classes__wrapper {
    background: #f0f6fa;
    padding: 10px;
}

.classes__wrapper li {
    margin-bottom: 12px;
}

.classes__wrapper a {
    color: #000;
    text-decoration: none;
}