<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/17346442/pexels-photo-17346442/free-photo-of-light-sea-city-dawn.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
        alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center">Math</small>
        <small class="bg-light text-success text-center ms-3">Featured</small>
        <small class="bg-light text-info text-center ms-3">Participants - 100</small>

        <h5 class="mt-1"> DESCRIPTION </h5>

        <P>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat dolorum ad, soluta quidem nobis rerum
            sequi. Corrupti provident nesciunt ipsam consequuntur? Molestias dolorum illo numquam nulla rem!
            Repellendus, accusamus alias!
        </P>

        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2022</small>

    </div>
</div>